html,
body {
    padding: 0px;
    margin: 0px;
    background: #ecf0f1;
}

html {
    overflow: hidden;
}

.main {
    background: #2c3e50;
    float: left;
    left: 110px;
    margin-left: -110px;
    position: relative;
    width: 110px;
    overflow-y: auto;
    height: 800px;
}

nav a {
    color: #ecf0f1;
    text-decoration: none;
    text-align: center;
    display: block;
    width: 100%;
    height: 3.3em;
    border-bottom: 1px solid #34495e;
    padding-top: 15px;
    font-size: 1.2em;
    line-height: 1.3em;
    font-family: 'Roboto', sans-serif;
}

nav a:hover {
    background-color: #34495e;
}

nav a i {
    display: block;
    width: 100%;
}

.contentWrapper {
    float: left;
    width: 100%;
    height: 800px;
}

.innerWrapper {
    margin-left: 110px;
    overflow-y: auto;
    height: 100%;
}

#content {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    color: #2c3e50;
}

#wrapper {
    overflow: hidden;
}

#face:hover {
    cursor: pointer;
}