body {
    background: #22313F;
}

/* header styles */

.navbar.header {
    background: #F9690E;
    color: #ecf0f1;
    height: 70px;
    max-height: 70px;
    border: none;
}

.navbar.header header {
    /*font-family: 'Open Sans Condensed', sans-serif;*/
    font-family: 'Open Sans', sans-serif;
    margin-top: 14px;
    margin-left: 12px;
    font-size: 2em;
}

.navbar.header header span {
    font-size: 0.85em;
    font-style: italic;
}


/* content styles */

.wrapper {
    margin-top: 70px;
    overflow: hidden!important;
    background: #22313F;
}

.wrapper .sidebar {
    background: #22313F;
    border-right: 1px solid #222;
    margin-left:0px!important;
    margin-right:0px!important;
    padding-left:0px!important;
    padding-right:0px!important;
}


/* form styles */

.wrapper form {
   font-family: 'Open Sans', sans-serif;
    margin-top: 10px;
    /*background: #bdc3c7;*/
    margin-bottom:10px;
    border-bottom: 1px solid #222;
    color: #ecf0f1;
    padding-left: 10px;
    padding-right: 10px;
}

.wrapper form .form-control{
    border-radius: 0px;
}

.wrapper form h3 {
    margin-top: 0px;
}


/* notes tyles */

.notes {
    margin-top: 10px;
}


.aa {
    overflow: hidden;
}

.note {
    font-family: 'Open Sans', sans-serif;
    width: 31%;
    margin-left: 15px;
    border-color: #CCC;
    padding-top:0px;
    margin-bottom: 15px;
}

.note .deleteNote,
.note .editNote,
.note .save{
    color: #CCC;
    padding-top:5px;
}

.note .well {
    width: 100%;
    padding:2px 0px 0px 0px;
    margin-bottom:0px;
    border-radius: 0px;
}

.note .save{
    color: #1ca589;
}

.note .editNote,
.note .save{
    margin-right:0px;
}

.note .deleteNote:hover,
.note .editNote:hover,
.note .save:hover {
    cursor: pointer;
    color: #AAA;
}

.note .save:hover{
    color: #106352;
}


.note input {
    width:85%;
    margin-top:2px;
    font-weight: bold;
}
.note textarea {
    width:100%;
}

.note .first {
    /*margin-top: 20px;*/
}

/* Footer styles */

footer {
    margin-bottom: 0px!important;
    background: #222!important;
    border-color: #222!important;
}

.face {
    width:100%;
    padding:0px 10px 10px 10px;
}